#chat-container {
  width: 38%;
  height: 100%;

  position: absolute;
  right: 0px;

  overflow: hidden;
}

#chatbox {
  width: 350px;
  height: 580px;
  background: #fff;
  position: absolute;
  top: calc(50% - 290px);
  left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#messages { 
  position: absolute;
  width: 350px;
  height: 535px;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow-y: scroll;
  word-wrap: break-word;
}

#messages li { 
  padding: 5px 10px; 
  font-size: 90%;
  background: #fff;
}

#time {
  display: inline;
  font-size: 90%;
}

#chatform {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#chatform input { 
  padding: 10px;
  width: 330px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  background-color: #f1f1f1;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -0.5px 0.5px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color .10s ease-out;
  -moz-transition: background-color .10s ease-out;
  -o-transition: background-color .10s ease-out;
  transition: background-color .10s ease-out;
}

#chatform input:focus {
  background-color: #2C3E50;
  outline: none;
  color: #ECF0F1;
}

#handlebox {
  width: 350px;
  height: 580px;
  background: #fff;
  position: absolute;
  top: calc(50% - 290px);
  left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#messagesBlock {
  position: absolute;
  width: 350px;
  height: 542px;
  background-color: #f1f1f1;
}

#chat-logo {
  position: absolute;
  width: 150px;
  height: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  fill: #a9a9a9;
}

#handleform {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#handleform input { 
  padding: 10px;
  width: 330px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  background-color: #f1f1f1;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -0.5px 0.5px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color .10s ease-out;
  -moz-transition: background-color .10s ease-out;
  -o-transition: background-color .10s ease-out;
  transition: background-color .10s ease-out;
}

#handleform input:focus {
  background-color: #2C3E50;
  outline: none;
  color: #ECF0F1;
}

.black {
  color: black;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}