html, body {
  height: 100%;
  margin: 0px;
  font-family: Helvetica, Arial;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0062bd;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(#5a73ff 1px, transparent 1px),
    linear-gradient(90deg, #5a73ff 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.title-backdrop {
  position: absolute;
  width: 98px;
  height: 38px;
  top: 60px;
  background: #b4c5f6;
}

#chat-backdrop {
  left: 100px;
}

#draw-backdrop {
  left: 500px;
}

#chat-title {
  position: absolute;
  left: 101px;
  top: 63px;
  color: white;
  font-size: 240%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Aldrich, sans-serif;
}

#draw-title {
  position: absolute;
  left: 501px;
  top: 65px;
  color: white;
  font-size: 220%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Aldrich, sans-serif;
}

.color {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 60px;
  transition-duration: 0.1s;
}

.color:hover {
  cursor: -webkit-grab;
  opacity: 0.3;
  transition-duration: 0.1s;
}

.color:hover:active {
  cursor: -webkit-grabbing;
  opacity: 1;
}

.indicator {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border-right: 9px solid #b4c5f6;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid #b4c5f6;
}

#onblack {
  display: block;
  left: 640px;
  top: 40px;
}

#ongreen {
  display: block;
  left: 740px;
  top: 40px;
}

#onblue {
  display: block;
  left: 840px;
  top: 40px;
}

#onred {
  display: block;
  left: 940px;
  top: 40px;
}

#onyellow {
  display: block;
  left: 1040px;
  top: 40px;
}

#onorange {
  display: block;
  left: 1140px;
  top: 40px;
}

#black {
  left: 660px;
  background: black;
}

#green {
  left: 760px;
  background: green;
}

#blue {
  left: 860px;
  background: blue;
}

#red {
  left: 960px;
  background: red;
}

#yellow {
  left: 1060px;
  background: yellow;
}

#orange {
  left: 1160px;
  background: orange;
}

#chatbox {
  position: absolute;
  top: 99px;
  left: 100px;
  width: 298px;
  height: 499px;
  background: #fff;
}

#chatform {
  position: fixed;
  background: #000; 
  padding: 3px;
  left: 98px; 
  top: 559px; 
  width: 296px; 
}

#chatform input { 
  border: 0; 
  padding: 10px; 
  width: 238px; 
  margin-right: .5%; 
}

#chatform button { 
  width: 35px; 
  background: #b4c5f6; 
  border: none; 
  padding: 10px; 
  margin-left: -3px;
  color: white;
}

#messages { 
  position: absolute;
  width: 298px;
  height: 457px;
  left: 0px;
  top: 1px;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow-y: scroll;
  background: #ecf0f1;
}

#messages li { 
  padding: 5px 10px; 
}

#messages li.white-msg { 
  background: #fff; 
}

#messages li.cloud-msg {
  background: #ecf0f1;
} 

#whiteboard {
  position: absolute;
  top: 99px;
  left: 500px;
  background: #fff;
}

#whiteboard:hover{
  cursor: cell;
}

#eraser {
  position: absolute;
  color: white;
  font-size: 130%;
  font-family: Aldrich, sans-serif;
  left: 1002px;
  top: 602px;
}

#white {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 1080px;
  top: 601px;
  background: white;
  border-radius: 10px;
  border: 1px solid #000;
}

#white:hover {
  cursor: -webkit-grab;
}

#white:hover:active {
  cursor: -webkit-grabbing;
}

#clear {
  position: absolute;
  color: white;
  font-size: 130%;
  font-family: Aldrich, sans-serif;
  left: 1120px;
  top: 602px;
}

#x {
  position: absolute;
  color: white;
  font-size: 170%;
  font-style: bold;
  font-family: Aldrich, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  left: 1181px;
  top: 597px;
}

#x:hover {
  cursor: pointer;
}